@mixin flexcenterbetween() {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding: 28px 0;
    .header__container {
        width: 1240px;
        max-width: calc(100% - 48px);
        margin: 0 auto;
    }
    .header__inner {
        @include flexcenterbetween();
    }
    .logo {
        font-weight: 500;
        font-size: 2.8rem;
        line-height: 36px;
        color: #ffffff;
    }
    .navbar {
        .navbar__list {
            display: flex;
            .navbar__link {
                font-weight: 500;
                font-size: 1.5rem;
                color: #b0b0b0;
                padding: 0 20px;
            }
        }
    }
    .header-action {
        .header-action__login {
            --height: 42px;
            min-width: 108px;
            border: 1px solid #fc5a5a;
            border-radius: 8px;
            background: transparent;
            font-size: 1.2rem;
            transition: 0.25s;
            &:hover {
                background: #fc5a5a;
            }
        }
        .header-action__start {
            --height: 42px;
            min-width: 108px;
            font-size: 1.2rem;
            margin-left: 16px;
            background: transparent;
            border: 1px solid #fc5a5a;
            transition: 0.25s;
            &:hover {
                background: #fc5a5a;
            }
        }
    }
}

.hero {
    margin-top: 42px;
    .hero__container {
        width: 1240px;
        max-width: calc(100% - 48px);
        margin: 0 auto;
        .hero__inner {
            display: flex;
            justify-content: flex-start;
            .social__sidebar {
                width: 13%;
                margin-top: 49px;
                display: flex;
                flex-direction: column;
                .social-list {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    .social-list__item {
                        color: #d2efff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        width: 34px;
                        height: 34px;
                        border: 1px solid rgba(255, 151, 74, 0.2);
                        background: transparent;
                        transition: 0.25s;
                        margin-bottom: 12px;
                        &:hover {
                            color: #222;
                            background: #ff974a;
                            border: none;
                            cursor: pointer;
                        }
                    }
                }
                .social-list__group {
                    display: flex;
                    flex-direction: column;
                    .social-list__text {
                        height: 146px;
                        display: inline-block;
                        font-weight: 500;
                        font-size: 1.2rem;
                        letter-spacing: 6px;
                        color: #d2efff;
                        transform: rotate(-90deg);
                        margin: 20px 0 0 7px;
                    }
                    .social-list__downarrow {
                        margin: 20px 0 0 12px;
                    }
                }
            }
            .hero__content {
                margin-top: 15px;
                .hero__heading {
                    width: 522px;
                    font-weight: 700;
                    font-size: 6.4rem;
                    line-height: 1.16;
                    color: #ffffff;
                }
                .hero__desc {
                    width: 368px;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 1.5;
                    color: #b0b0b0;
                    margin: 12px 0 40px;
                }
            }
            .hero__media {
                .hero__media--top {
                    position: relative;
                    .hero-search {
                        width: 248px;
                        background: #1e75ff;
                        border-radius: 8px;
                        padding: 20px;
                        .searching-form {
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-between;
                            .searching-form__submit,
                            .searching-form__input {
                                border: none;
                                outline: none;
                                background-color: transparent;
                            }
                            .searching-form__input,
                            .searching-form__input::placeholder {
                                font-family: Inter, sans-serif;
                                font-weight: 500;
                                font-size: 1.2rem;
                                line-height: 15px;
                                color: #ffffff;
                            }
                        }
                        .hero-search__border {
                            width: 100%;
                            height: 1px;
                            background: rgba(255, 255, 255, 0.1);
                            margin-top: 7px;
                        }
                        .hero-search__list {
                            margin-top: 16px;
                            display: flex;
                            flex-direction: column;
                            gap: 14px;
                            .hero-member {
                                @include flexcenterbetween();
                                padding: 10px;
                                border: 1px solid rgba(255, 255, 255, 0.1);
                                border-radius: 5px;
                                .hero-member__info {
                                    display: flex;
                                    align-items: center;
                                    .hero-member__img {
                                        width: 28px;
                                        height: 28px;
                                        border-radius: 50%;
                                        object-fit: cover;
                                        margin-right: 8px;
                                    }
                                    .hero-member__text {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 2px;
                                        & span:nth-child(1) {
                                            font-family: Inter, sans-serif;
                                            font-weight: 600;
                                            font-size: 1.2rem;
                                            color: #ffffff;
                                        }
                                        & span:nth-child(2) {
                                            font-family: Inter, sans-serif;
                                            font-weight: 400;
                                            font-size: 1rem;
                                            color: rgba(255, 255, 255, 0.75);
                                        }
                                    }
                                }
                                .hero-member__invite {
                                    font-family: Inter, sans-serif;
                                    font-weight: 500;
                                    font-size: 1.2rem;
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
